---
import Footer from "../component/Footer.astro"
import Navbar from "./../component/Navbar.astro"

interface Props {
    lang?: string
    title?: string
    description?: string
}

const title = Astro.props.title ? `${Astro.props.title} | Fernando Ticona` : "Fernando Ticona"

---
<!DOCTYPE html>
<html lang={Astro.props.lang ?? "en"}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={Astro.props.description ?? ""}>

    <link rel="canonical" href={`https://fvcoder.com${Astro.url.pathname}`} />

    <meta property="og:site_name" content="Fernando Ticona">
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={Astro.props.description ?? ""}>

    <meta name="theme-color" content="#FFFFFF">
</head>
<body class="relative selection:bg-purple-300 selection:text-white">
    <div class="relative">
        <Navbar />
    </div>
    <slot />
    <div>
        <Footer />
    </div>
</body>
</html>