---
import Layout from "./../feature/layout/page/Base.astro";
import { Icon } from '@iconify-icon/react'
---

<Layout
    lang="en"
    title="About Fernando Ticona | fvcoder"
    description="About Fernando Ticona. Here you can see what I do, my projects, and my experience."
>
    <header class="max-w-4xl mx-auto px-6 pt-10 md:pt-20">
        <div class="">
            <img src="https://github.com/fvcoder.png" alt="Fernando Ticona" class="max-w-20 md:max-w-full md:w-52 rounded-lg">
        </div>
    </header>
    <main class="mt-6">
        <article class="max-w-4xl mx-auto px-6 pb-10 md:pb-20 prose">
            <h2>A little about me</h2>
            <p>I am a software developer, specializing in mobile and web applications. I currently work as a front-end and back-end developer at a video game company.</p>
            <p>I enjoy working on projects that improve the lives of users, businesses, or teams, and I like solving problems creatively, using existing tools to accelerate the development process.</p>
            <p>My main goal is to create software that is genuinely used and doesn't just sit on a wall like a beautiful piece of art.</p>
            <p>I am open to new opportunities and projects, so if you have an idea, feel free to reach out to me.</p>            
            <div class="not-prose">
                <div class="flex gap-4 mt-6">
                    <a href="/start-a-project" class="px-4 py-2 border select-none rounded-md border-purple-300 bg-purple-400 text-white text-sm flex items-center gap-2 transition-colors hover:bg-purple-500 active:bg-purple-600">
                        <span>Start a Project</span>
                        <Icon icon="fluent:arrow-right-28-filled" width={16} />
                    </a>
                    <a href="/portfolio" class="px-4 py-2 border select-none rounded-md text-sm hover:bg-gray-100 active:bg-gray-200 transition-colors">View my portfolio</a>
                </div>
            </div>
        </article>
    </main>
</Layout>