---
import Layout from "../feature/layout/page/Base.astro";
import BlogTimelineItem from "../feature/ui/component/BlogTimelineItem.astro";
import { Client } from "@notionhq/client";

const notion = new Client({
  auth: Astro.locals.runtime.env.NOTION_API_KEY,
})

const data = await notion.databases.query({
    database_id: Astro.locals.runtime.env.NOTION_PAGE_ID,
    page_size: 12,
    sorts: [
      {
        property: 'Última edición',
        direction: 'descending',
      },
    ],
});

---
<Layout
    lang="es"
    title="Experimentos de Fernando Ticona | fvcoder"
    description="Experimentos de Fernando Ticona. Aquí podrás ver los experimentos que he hecho en el mundo real o propuestas locas que tengo."
>
    <div class="max-w-3xl mx-auto px-6 py-10 md:py-20">
        <header class="prose max-w-3xl mx-auto prose-h1:text-4xl">
            <h1>Experimentos de Fernando Ticona</h1>
            <p>Llamalo como quieras, para mi es un basurero mental, jeje.</p>
        </header>
        <main class="mt-10">
            {data.results.map((x: any) => <BlogTimelineItem time={x.last_edited_time} title={x.properties.Nombre.title.map((y: any) => y.plain_text).join("")} description="" href={`/draft/${x.id}`} />)}
        </main>
    </div>
</Layout>