---
import Layout from "../feature/layout/page/Base.astro";
import BlogTimelineItem from "../feature/ui/component/BlogTimelineItem.astro";
---
<Layout
    lang="es"
    title="Experimentos de Fernando Ticona | fvcoder"
    description="Experimentos de Fernando Ticona. Aquí podrás ver los experimentos que he hecho en el mundo real o propuestas locas que tengo."
>
    <div class="max-w-3xl mx-auto px-6 py-10 md:py-20">
        <header class="prose max-w-3xl mx-auto prose-h1:text-4xl">
            <h1>Experimentos de Fernando Ticona</h1>
            <p>Llamalo como quieras, para mi es un basurero mental, jeje.</p>
        </header>
        <main class="mt-10">
            <BlogTimelineItem />
            <BlogTimelineItem />
            <BlogTimelineItem />
            <BlogTimelineItem />
            <BlogTimelineItem />
            <BlogTimelineItem />
            <BlogTimelineItem />
            <BlogTimelineItem />
            <BlogTimelineItem />
            <BlogTimelineItem />
        </main>
    </div>
</Layout>