---
import BlogTimelineItem from "../feature/ui/component/BlogTimelineItem.astro"
import Brands from "../feature/ui/component/Brands.astro"
import CardMusic from "../feature/ui/component/CardMusic.astro"
import TitleSection from "../feature/ui/component/TitleSection.astro"
import Layout from "./../feature/layout/page/Base.astro"
import { Icon } from '@iconify-icon/react'
---
<Layout title="">
	<section class="pt-10 px-6 max-w-4xl mx-auto flex flex-col-reverse items-start gap-4 md:pt-20 md:grid md:grid-cols-2 md:items-center">
		<div class="">
			<h1 class="text-3xl sm:text-5xl font-bold mb-4">Front-end Mobile and Web developer</h1>
			<p class="text-lg text-gray-500">Freelance Developer. FullStack Developer and Educator. From La Paz, Bolivia. Specialized in User Experience.</p>
			<div class="flex gap-4 mt-6">
				<a href="/start-a-project" class="px-4 py-2 border select-none rounded-md border-purple-300 bg-purple-400 text-white text-sm flex items-center gap-2 transition-colors hover:bg-purple-500 active:bg-purple-600">
					<span>Start a Project</span>
					<Icon icon="fluent:arrow-right-28-filled" width={16} />
				</a>
				<a href="/about" class="px-4 py-2 border select-none rounded-md text-sm hover:bg-gray-100 active:bg-gray-200 transition-colors">About me</a>
			</div>
		</div>
		<div class="flex justify-center order-2">
			<img src="https://github.com/fvcoder.png" alt="Fernando Ticona" class="w-14 md:w-52 rounded-lg">
		</div>
	</section>
	<Brands />
	<section class="max-w-4xl mx-auto px-6">
		<TitleSection href="/portfolio" title="Portfolio" />
		<div class="mt-6 grid grid-cols-2 md:grid-cols-4 gap-6">
			<CardMusic />
			<CardMusic />
			<CardMusic />
			<CardMusic />
		</div>
	</section>
	<section class="max-w-4xl mx-auto px-6">
		<TitleSection href="/blog" title="Blog" />
		<div class="mt-6">
			<BlogTimelineItem />
			<BlogTimelineItem />
			<BlogTimelineItem />
			<BlogTimelineItem />
		</div>
	</section>
	<section class="max-w-4xl mx-auto px-6 mt-12 md:mt-24 pb-10">
		<div class="p-6 bg-gradient-to-tr from-pink-500 to-purple-600 rounded-lg text-white transition">
			<h4 class="text-3xl font-bold">Start a project</h4>
			<p class="mt-2">Interested in working together? We should queue up a time to chat. I’ll buy the coffee.</p>
			<a href="/start-a-project" class="inline-flex border border-white px-4 py-2 mt-4 rounded-md hover:bg-white hover:text-purple-600 active:bg-white/90">Let's do this</a>
		</div>
	</section>
</Layout>
