---
import { Icon } from "@iconify-icon/react";
import Brands from "../feature/ui/component/Brands.astro";
import Layout from "./../feature/layout/page/Base.astro";
import Project from "../feature/ui/component/Project.astro";

const projects = [
    {
        name: "Support and Maintenance",
        brand: "Save the Children",
        role: "WordPress Developer",
        features: [
            "Plugin Updates",
            "WordPress Maintenance",
            "Landing Page Creation",
            "Bug Fixes in Plugins",
            "Security Flaws Fixing",
            "Design Flaws (UI) Fixing",
            "Recommendations/Suggestions to Improve WordPress Security",
            "Consulting"
        ],
        problem: "Save the Children's LMS needs to add training courses. During the process, unexpected behaviors and security flaws were found.",
        solution: "Improve WordPress security, maintain plugins, create landing pages, fix bugs, and provide recommendations to enhance WordPress security.",
        screenshots: [
            { img: "https://cdn.fvcoder.com/w/st-1.webp", alt: "Save the Children screenshot 1", w: 1917, h: 908 },
            { img: "https://cdn.fvcoder.com/w/st-2.webp", alt: "Save the Children screenshot 2", w: 1919, h: 909 },
            { img: "https://cdn.fvcoder.com/w/st-3.webp", alt: "Save the Children screenshot 3", w: 1919, h: 905 },
        ],
    },
    {
        name: "Control Panel",
        brand: "Trujillo",
        role: "Front-end Developer",
        features: [
            "Real-time Data Updates",
            "Interactive Map",
            "Fast Data Visualization",
            "Color-coded Work Schedules",
            "User Responsibility Details",
            "Branch Details",
            "Fast User Search",
            "Search Filter by Regions and Roles",
        ],
        problem: "Find security guards and supervisors visually, identify their current location, and track work schedules in real time.",
        solution: "An interactive map that allows users to locate security guards and supervisors, control work schedules using colors, and facilitate communication.",
        screenshots: [
            { img: "https://cdn.fvcoder.com/w/trujillo-dash-1.webp", alt: "Trujillo control panel screenshot 1", w: 1919, h: 911 },
            { img: "https://cdn.fvcoder.com/w/trujillo-dash-2.webp", alt: "Trujillo control panel screenshot 2", w: 1919, h: 905 },
            { img: "https://cdn.fvcoder.com/w/trujillo-dash-3.webp", alt: "Trujillo control panel screenshot 3", w: 1919, h: 912 },
            { img: "https://cdn.fvcoder.com/w/trujillo-dash-4.webp", alt: "Trujillo control panel screenshot 4", w: 1919, h: 909 },
            { img: "https://cdn.fvcoder.com/w/trujillo-dash-5.webp", alt: "Trujillo control panel screenshot 5", w: 1919, h: 915 },
            { img: "https://cdn.fvcoder.com/w/trujillo-dash-6.webp", alt: "Trujillo control panel screenshot 6", w: 1919, h: 910 },
        ],
    },
    {
        name: "E-commerce",
        brand: "Tools Smarter",
        role: "Backend Developer & Front-end Developer",
        features: [
            "Multi-store",
            "Cupon Management",
            "Order Management",
            "Customer Management",
            "Product Management",
            "Inventory Management",
            "Shipping Management",
            "Payment Management",
            "Tax Management",
            "Analytics",
            "Api Integration",
        ],
        problem: "The client wants to create a solution similar to Facebook marketplace and Mercado Libre, hosting multiple sellers of different products (physical/digital).",
        solution: "After a negotiation, I am in charge of creating the backend and the control panel to manage the products/customers/promotions, leaving an API for integration with other services.",
        screenshots: [
            { img: "https://cdn.fvcoder.com/w/a1.webp", alt: "Save the Children screenshot 1", w: 1920, h: 1016 },
            { img: "https://cdn.fvcoder.com/w/a2.webp", alt: "Save the Children screenshot 2", w: 3840, h: 2488 },
            { img: "https://cdn.fvcoder.com/w/a3.webp", alt: "Save the Children screenshot 3", w: 1920, h: 1016 },
        ],
    },
    {
        name: "Landing Page",
        brand: "Xiara Studios",
        role: "Front-end Developer & WordPress Developer",
        features: [
            "Landing Page Creation",
            "Custom WordPress Plugin Development",
            "Mini Game Development",
            "Optimization",
        ],
        problem: "Needs a WordPress update for the page's design and functionality.",
        solution: "A landing page with a Pixel Art video game theme was designed. The page was optimized for accessibility, and the code was optimized to work on all devices.",
        screenshots: [
            { img: "https://cdn.fvcoder.com/w/xia-lp-1.webp", alt: "Xiara Studios landing page screenshot 1", w: 1919, h: 908 },
            { img: "https://cdn.fvcoder.com/w/xia-lp-2.webp", alt: "Xiara Studios landing page screenshot 2", w: 1919, h: 909 },
            { img: "https://cdn.fvcoder.com/w/xia-lp-3.webp", alt: "Xiara Studios landing page screenshot 3", w: 1919, h: 912 },
        ],
    }
]
---
<Layout
    lang="en"
    title="Portfolio de Fernando Ticona | fvcoder"
    description="Portfolio de Fernando Ticona. Aqui podras ver los proyecto en lo que estubo envolucrado, problematicas y soluciones."
>
    <header class="relative">
        <div class="hidden md:block absolute inset-x-12 inset-y-0 -z-10 bg-[linear-gradient(to_right,#9AA3B02e_1px,transparent_1px),linear-gradient(to_bottom,#9AA3B02e_1px,transparent_1px)] bg-[size:24px_24px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_0%,#000_70%,transparent_100%)]" />
        <div class="max-w-4xl mx-auto px-6 relative py-5 md:pt-32">
            <div class="flex flex-col-reverse items-start md:grid grid-cols-1 md:grid-cols-2 gap-4 md:items-center">
                <div>
                    <h1 class="text-4xl font-bold">Fernando Ticona</h1>
                    <p class="text-lg mt-1 text-purple-600 font-semibold">Mobile Developer / Front-end developer</p>
                    <br>
                    <p>Driven by my passion for technology, I am always looking for new and creative approaches to improve user experiences with fresh and thoughtful solutions.</p>
                    <br>
                    <div>
                        <a href="/start-a-project" class="w-fit px-4 py-2 border select-none rounded-md border-purple-300 bg-purple-400 text-white text-sm flex items-center gap-2 transition-colors hover:bg-purple-500 active:bg-purple-600">
                            <span>Start a Project</span>
                            <Icon icon="fluent:arrow-right-28-filled" width={16} />
                        </a>
                    </div>
                </div>
                <div class="flex justify-center">
                    <img src="https://github.com/fvcoder.png" alt="Fernando Ticona" class="max-w-20 md:max-w-full md:w-52 rounded-lg">
                </div>
            </div>
        </div>
    </header>
	<Brands />
    <main class="px-6 pb-20 mt-10">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-3xl font-bold mb-4">Projects</h2>
            <hr>
        </div>
        { projects.map((project) => <Project {...project} />) }
    </main>
</Layout>
