<div class="flex gap-4">
    <div class="hidden md:flex px-4 flex-none flex-col items-center">
        <p class="py-6 text-gray-400">Julio 7, 2024</p>
        <span class="flex-1 border-l"></span>
    </div>
    <a href="#" class="block py-6 px-4 hover:bg-gray-50 rounded-lg transition-colors">
        <p class="md:hidden pb-2 text-gray-400 text-sm">Julio 7, 2024</p>
        <h3 class="font-semibold text-lg line-clamp-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non tempora asperiores accusamus dolorum aperiam voluptates alias dolorem! Impedit ipsam soluta animi accusantium quaerat, corrupti dolore provident assumenda accusamus, unde illo!</h3>
        <p class="mt-2 text-gray-500 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis maiores cum labore sapiente nesciunt culpa excepturi beatae numquam. Perferendis dolore adipisci ipsam. Vitae voluptatem, nulla debitis aliquid nesciunt sit!</p>
        <button class="block w-fit mt-6 text-purple-500">Read more</button>
    </a>
</div>