<section class="max-w-3xl mx-auto px-6">
    <div class="mt-10 md:mt-20">
        <h2 class="text-base md:text-xl font-semibold text-center text-gray-500">Some of the brands I’ve worked with</h2>
        <div class="opacity-50">
            <div class="grid items-center max-w-lg grid-cols-3 gap-4 mx-auto mt-6 place-items-center">
                <img src="/xia.png" class="grayscale" alt="Xiara Studios" />
                <img src="/lo.png" class="grayscale max-h-12 md:max-h-28" alt="Loproda" />
                <img src="/tru.png" class="grayscale max-h-12 md:max-h-28" alt="Trujillo" />
                <img src="/sv.png" class="grayscale max-h-12 md:max-h-28" alt="Save the Children" />
                <img src="/ts.png" class="grayscale max-h-12 md:max-h-28" alt="Tools Smarter" />
            </div>
        </div>
    </div>
</section>