---
interface Props {
    
}
---
<a href="/portfolio/slug-id" class="w-full h-auto group">
    <header class="bg-yellow-500 rounded-lg aspect-square w-full shadow-xl"></header>
    <main class="mt-4">
        <h3 class="text-base font-semibold line-clamp-1">titulo de la obra que es un tanto largo, pero vale la pena verlo</h3>
        <p class="mt-2 text-gray-400">Diciembre 16, 2023</p>
    </main>
</a>